.blog{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.blog__container{
  
    background: fixed;
    background-color: black ;
    padding-left:15px;
    
}
.sub-nav {
    
    margin-left: 20px;
   
}

.sub-nav a{
    color: white;
}



.blog__container h1{
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
   
}


.blog__content{
    text-align: center;
 
}

.blog__content p{
    text-align: center;
    letter-spacing: 3px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.blog__container button{
    
   background: white;
   
}
.blog__container button:hover{
    color: black;
    background: greenyellow;
}

@media screen and (max-width:700px) {
    .blog{
        display: flex;
        flex-direction: column;
    }
}
