.contact__body{
    
    background: black;
    font-family: 'poppins', sans-serif;
  
 
    
}

.contact__container .sub-nav{
    margin-left: 20px;
}
.contact__title h1{
    color: white;
    text-align: center;
    
}
.contact__form{
   color: white;
   display: flex;
   width: 90%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 20px;


   
}

.contact__input {
 display: flex;
 flex-direction: column;
    width: 40%;
    justify-content: center;

}

.contact__form .contact__message{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#message button{
    margin: 15px ;
}