.contact__body{
    margin: 0;
    background: black;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.contact__title{
    color: white;
}
.contact__form{
   color: white;
   width: fit-content;
   
}
.form__row{
    display: flex;
    flex-direction: row;
}
.contact__input{
    position: relative;

}