
.header{
    margin: 0;

}

.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px;
    
}

.header__container .header__searchbar{
    margin-left: 10px;
    display: flex;

    padding: 6px;
       
   

    

}

.header__container .header__searchbar input{

  
    border: 1px solid rgb(238, 178, 99);
    
    
}
.header__searchbar:hover #search__input{

border: 1px solid green;    
    
}
.header__searchbar:hover  #search__icon{
    background: rgb(70, 156, 70);
    
}

.header__container .header__searchbar{
    color: rgb(73, 202, 127);
    
    
}
.header__container .header__searchbar i{
    padding: 4px;
    color: aliceblue;
    background-color: rgb(238, 178, 99);
  

    
    
}


.header__container .header__logo img{
        width: 40vh;
}

.header__container .header__basket{
margin-right: 10px;
}

