
.header {
 top: 0;
  height: 70px;
  background-color: rgb(145, 83, 83);
}

.header__container{
  

float: right;
display:flex;
flex-direction: row;
height: 60px;
justify-content: center;

    
  
}


.header__navlinks a {
 
  color: rgb(174, 201, 195);
  margin: 10px 20px;
 
  text-decoration: none;
  border: 1px solid transparent;
}

.header__navlinks a:hover{
    color: rgb(241, 238, 232);
    border: 1px solid green;
}



