.navbar{
  top: 0;
  
 
}

.navbar__container{
  width: 100%;
 
  
}

.navbar__navlinks{
 
padding: 15px 30px 15px 0;
background: black;
text-align: right;




}

.navbar__navlinks a{
  border: 1px solid transparent;
 color: white;
  padding: 5px;
  text-decoration: none;
  margin: 10px;
  transition: 0.8s;
  

}
.navbar__navlinks a:hover{
  border: 1px solid greenyellow;
  color: greenyellow;
}
.navbar__navlinks a:active{
  border: 1px solid rgb(65, 134, 69);
}
