
.product__body{
    margin: 0;
    top: 0;
    padding: 100px;
    height: 100%;
    font-family: sans-serif;
    background:black;
    background-size: cover;
}
.prodect__title{
    text-align: center;
    color: white;
    
}
.product__items h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    color: greenyellow;
}
.product__items a{
    text-decoration: none;

}
.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.product__items{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px white, 0 10px 10px white;
    transition: .4s;
    background: black;


}
.product__items:hover{
    box-shadow: 0 3px 6px greenyellow, 0 3px 6px green;
    transform: translate(0px, -8px);
}
.product__items img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.product__items p{
    text-align: center;
    color: white;
    padding-top: 0 8px;

}
.product__items h6{
    font-size: 26px;
    text-align: center;
    color: white;
    margin: 0;


}
.product__items ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.product__items ul li{
    padding: 5px;
}
.fa-star{
    font-size: 26px;
    transition: .4s;
    color: white;
    

}
.checked{
    color: greenyellow;
}
.product__items button{
    text-align: center;
    font-size: 24px;
    color: white;
    width: 100%;
    padding:15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.buy{
    background: green;
}
@media(max-width:1000px){
    .product__items{
        width: 100%;
    }
}
@media(max-width:750px){
    .product__items{
        width:100%;
    }
}